// ----- Base styles -----

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
  color: #333;
  text-align: left;
  background-color: #fff;
}

a {
  color: #1976D2;
  text-decoration: none;
  transition: color 0.3s;

  &:hover, &:focus {
    color: #2196F3;
  }
}

// Type
h1, h2, h3, h4, h5, h6 {
  font-weight: 300;

  small {
    font-size: 60%;
  }
}
h1, h2 {
  margin: 0 0 2rem 0;
}
h3, h4, h5, h6, p {
  margin: 0 0 1rem 0;
}

h1 { font-size: 38px; }
h2 { font-size: 34px; }
h3 { font-size: 26px; }
h4 { font-size: 20px; }
h5 { font-size: 16px; }
h6 { font-size: 14px; }

// p {
//   margin: 0 0 15px 0;
// }

strong {
  font-weight: 400;
}



// ----- Layout -----
.container {
  width: 100%;
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}


// .img-fluid {
//   max-width: 100%;
//   height: auto;
//   vertical-align: middle;
//   border-style: none;
// }

.icon {
  display: inline-block;
  position: relative;
  top: -0.1em;
  width: 1em;
  height: 1em;
  fill: currentColor;
  vertical-align: middle;
}

// ----- Header and footer -----
.header {
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
  padding: 15px 0;
  color: #fff;
  background-color: #1976D2;
  box-shadow: 0 0 6px 6px rgba(0,0,0,0.1);
}

  .logo-text {
    margin: 0;

    @media (max-width: 767px) {
      font-size: 25px;
    }
    @media (min-width: 768px) {
      display: inline-block;
    }
  }

  .header--links {

    .btn {
      margin: 0;
      margin-top: 7px;

      &:last-child {
        margin-left: 7px;
      }
    }

    @media (min-width: 768px) {
      float: right;
    }
  }

.footer {
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 12px;
  text-align: center;
}


// ----- Demo -----
.demo {
  margin-top: 40px;
  margin-bottom: 40px;
}

.demo--intro {
  margin-top: 20px;
  border-bottom: 1px solid #ddd;

  p:last-child {
    padding-bottom: 20px;
  }
}

.btn {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid #bbb;
  padding: 4px 12px 6px 12px;
  font-size: 18px;
  background-color: #fff;
  border-radius: 4px;
  transition: background-color .3s, color .3s;

  &:hover, &:active {
    background-color: #f3f3f3;
  }
}

.btn-white {
  color: #fff;
  border-color: #fff;
  background-color: transparent;
}

.install .btn {
  margin-right: 15px;
  margin-bottom: 15px;
}

pre {
  display: block;
  padding: 10px 15px;
  margin: 0 0 20px 0;
  overflow: auto;
  font-family: 'Cutive Mono', monospace;
  font-size: 14px;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f3f3f3;
  border: 1px solid #bbb;
  border-radius: 4px;
}
