$nav-scroller-btn-size: 44px;
$nav-scroller-scrollbar: 30px;

.nav-scroller {
  position: relative;
  overflow: hidden;
  display: flex;
  background-color: #f5f5f5;
}

  .nav-scroller-logo {
    display: inline-block;
    padding: .5rem;
    margin-right: 1rem;
    font-size: 1.75rem;
    font-weight: bold;
  }

  .nav-scroller-nav {
    position: relative;
    overflow-x: auto;
    overflow-y: hidden;
    z-index: 1;
    align-self: center;
    padding-bottom: $nav-scroller-scrollbar; // Hide scrollbar
    margin-bottom: -$nav-scroller-scrollbar; // Hide scrollbar
  }

    .nav-scroller-content {
      position: relative;
      display: inline-flex;
      align-items: center;
      white-space: nowrap;
      min-height: $nav-scroller-btn-size; // Ensures full button is visible
      transition: transform .3s ease-in-out;

      &.no-transition {
        transition: none;
      }
    }

    ul.nav-scroller-content {
      margin: 0;
      padding: 0;
      list-style: none;
    }

      .nav-scroller-item {
        flex: 1 0 auto;
        display: block;
        font-size: 1.125rem;
        text-align: center;
        padding: .2rem 1rem;

        &:not(:last-child) {
          border-right: 1px solid #ddd;
        }
      }

  .nav-scroller-controls {
    position: sticky;
    left: 0;
    z-index: 10;
  }

    .nav-scroller-btn {
      position: absolute;
      top: 0;
      z-index: 10;
      width: $nav-scroller-btn-size;
      height: $nav-scroller-btn-size;
      padding: .5rem;
      font-size: 1.25rem;
      color: #000;
      background: #fff;
      border: 1px solid #ddd;
      transition: color .3s, opacity .3s;
      cursor: pointer;

      &:hover {
        color: #666;
      }

      &:focus {
        outline: 0;
      }

      &:not(.active) {
        opacity: 0;
        pointer-events: none;
      }
    }

    .nav-scroller-btn--left {
      left: 0;
    }

    .nav-scroller-btn--right {
      right: 0;
    }



// Bbutton always visible and inline rather than hidden and overlaid on the nav
.nav-scroller--controls-inline {

  .nav-scroller-content {
    padding: 0 $nav-scroller-btn-size;
  }

  .nav-scroller-btn {
    &:not(.active) {
      color: #ddd;
      opacity: 1;
    }
  }

}

// Nav expand to fill available space
.nav-scroller--expand {

  .nav-scroller-nav {
    width: 100%;
  }
}

// Nav aligns to the right
.nav-scroller--right {

  .nav-scroller-nav {
    margin-left: auto;
  }
}
